
@model User
<h1>Delete Users</h1>
<div class="container d-flex justify-content-center">
    <form method="post" asp-action="DeletePost">
        <div>
            <table class="table table-danger w-20 h-auto">

                <tr>
                    <td>Id:</td>
                    <td><input type="text" placeholder="UserId" asp-for="Id" /></td>

                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" placeholder="UserName" asp-for="Name" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" placeholder="UserEmail" asp-for="Email" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" placeholder="Password" asp-for="Password" aria-hidden="true" /></td>
                </tr>
            </table>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Login" asp-action="Delete" class="btn btn-primary">Back to list</a>



    </form>
</div>

